body {
    font-family: 'Poppins', sans-serif;
    text-align: center;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                      url("jonnycay.jpeg");
    background-size: cover;
    background-position: center;

    color: white;
}

/* Tarjeta */
.card {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.5);
}

/* Efecto */
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* hace la imagen redonda */
    object-fit: cover; /* ajusta bien la imagen */
    margin-bottom: 15px;

    border: 3px solid #b1d400;
}
.card {
    animation: aparecer 1s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.skills p {
    background: rgba(255,255,255,0.1);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.proyectos {
    margin-top: 30px;
}

.proyecto {
    background: rgba(0,0,0,0.6);
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}